* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

article {
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
  position: relative;
}

header {
  margin-bottom: 20px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 10px;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

strong {
  font-size: 24px;
}

article p:nth-child(4) {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #7e7d7d;
}

.description {
  margin-bottom: 10px;
}

.product-link {
  margin-bottom: 20px;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: orangered;
}

ul {
  list-style: square;
  margin-bottom: 10px;
}

li {
  margin-left: 20px;
  border-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: none;
  width: 100%;
  padding: 10px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-top: 5px solid black;
}

h2::before {
  content: "SALE";
  display: inline-block;
  position: absolute;
  top: -15px;
  left: -30px;
  font-size: 12px;
  color: white;
  background-color: rgb(235, 42, 42);
  padding: 5px 10px;
  letter-spacing: 2px;
}

.colors {
  margin-bottom: 20px;
}

.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.black {
  background-color: #000;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
  margin-right: 0;
}
